#page-room {
    header {
        padding: 24px;
        border-bottom: 1px solid #e2e2e2;
    
        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            > img {
                max-height: 45px;
                cursor: pointer;
            }

            > div {
                display: flex;
                align-items: center;
                gap: 16px; // espaço entre os botões de copiar código e encerrar sala
                
                button {
                    height: 40px;
                    
                }
            }
        }
    }

    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px; // esta deixando a página responsiva com 280px
        margin-bottom: 24px;

        .room-title {
            margin: 32px 0 24px;
            display: flex;
            align-items: center;

            h1 {
                font-family: 'Poppins', sans-serif;
                color: #29292e;
                font-size: 24px;
            }

            span {
                margin-left: 16px;
                background: #e559f9;
                border-radius: 9999px;
                padding: 8px 16px;
                color: #fff;
                font-weight: 500;
                font-size: 14px;
            }
        }

        form {
            textarea {
                width: 100%;
                border: 0;
                padding: 16px;
                border-radius: 8px;
                background: #fefefe;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
                resize: vertical;
                min-height: 130px;
            }

            .form-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 32px; // perte que mudei invertida
                margin-bottom: 16px; // parte que mudei invertida

                .user-info { // avatar na room
                    display: flex;
                    align-items: center;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }

                    span {
                        margin-left: 8px;
                        color: #29292e;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

                > span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #737380;

                    button {
                        background: transparent;
                        border: none;
                        color: #835afd;
                        text-decoration: underline;
                        font-weight: 500;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }
        }

        //Sala Admin
         .question-list {
            margin-top: 32px;
        }

        .empty-question { //se não tiver pergunta
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 52px;
            padding: 0 20px;
            gap: 18px;

            h2 {
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                font-weight: 600;
                color: #29292e;
                text-align: center;
            }

            p{
                color: #737380;
                font-size: 16px;
                text-align: center;
            }
        }
    }
}
